body{
	background-color:#ccc;
}
#head{
	position:fixed;
	width:100%;
	min-height:100px;
	border:1px solid #000;
	top:0;
	}
#main{
	margin-top:210px;
}
#main .content{
	width:960px;
	height:10000px;
	min-height:300px;
	border:1px solid #000;
	margin:0 auto;
}
#main .content > div{
	display:inline-block;
	width:45%;
	min-height:100px;
	margin:3px 2%;
	border:1px solid #000;
	vertical-align:top;
}
#main .content .left{
	height:1000px;
}
#main .content .right > div{
	display:block;
	width:90%;
	min-height:100px;
	margin:3px 5%;
	border:1px solid #000;
	vertical-align:top;
	text-align: -webkit-center;;
}
#main .content .left .skill> div{
	display:inline-block;
	border:1px solid #000;
	height:60px; 
	width:100px;
}
#main .content .right #leaderboard_div > div{
	display:inline-block;
	border:1px solid #000;
	width:80px;

}